{% assign current_category = page.categories | first %}
{% assign next_post = nil %}

<!-- Find the next post chronologically in the same category -->
{% assign sorted_posts = site.posts | sort: "date" %}
{% assign found_current = false %}

{% for mypost in sorted_posts %}

  {% if mypost.url == page.url %}
    {% assign found_current = true %}

  {% elsif found_current and mypost.categories contains current_category %}
    {% assign next_post = mypost %}
    {% break %}

  {% endif %}

{% endfor %}


<!-- If there is no next post in the same category,
     find the most recent post from another category -->
{% if next_post == nil %}

  {% for mypost in site.posts %}

    {% if mypost.url != page.url and mypost.categories contains current_category %}
    {% else %}

      {% assign next_post = mypost %}
      {% break %}

    {% endif %}

  {% endfor %}

{% endif %}


<!-- Display the selected post -->
{% if next_post %}

<div class="related">

  <h2>{{ site.data.settings.related_posts }}</h2>

  <ul class="related-posts">

    <li>
      <h3>
        <a href="{{ site.github.url }}{{ next_post.url }}">

          <div class="related-thumbnail">
            {% if next_post.image %}
              <img src="{{ site.github.url }}/assets/img/{{ next_post.image }}">
            {% endif %}
          </div>

          <div class="related-title">
            {{ next_post.title }}
          </div>

        </a>
      </h3>
    </li>

  </ul>

</div>

{% endif %}