{% assign current_index = 0 %}

{% for mypost in site.posts %}
  {% if mypost.url == page.url %}
    {% assign current_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% assign next_index = current_index | plus: 1 %}
{% assign next_post = site.posts[next_index] %}

{% if next_post %}
<div class="related">
  <h2>{{ site.data.settings.related_posts }}</h2>

  <ul class="related-posts">
    <li>
      <h3>
        <a href="{{ site.github.url }}{{ next_post.url }}">

          <div class="related-thumbnail">
            {% if next_post.image %}
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ next_post.image }}">
            {% endif %}
          </div>

          <div class="related-title">
            {{ next_post.title }}
          </div>

        </a>
      </h3>
    </li>
  </ul>
</div>
{% endif %}
